@model Webwarehouse.UI.Models.Entities.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section >
    <h2>Login for connection</h2>
    @using (Html.BeginForm("Login", "Account",
        new {ViewBag.ReturnUrl},
        FormMethod.Post, new {id = "signupform"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    <label>User name</label>
                    @Html.TextBoxFor(m => m.UserName, new {@class = "center"})
                    @Html.ValidationMessageFor(m => m.UserName)

                </li>
                <li>
                    <label>Password</label>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.Label("Remember me?", new {@class = "checkbox"})
                </li>
            </ol>
            <input type="submit" value="Вход"/>
        </fieldset>
        <p>
            @Html.ActionLink("Register", "Register"), if you don't have account yet.
        </p>
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}