@* View for user to register on page *@

@model Webwarehouse.UI.Models.Entities.RegisterModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<hgroup class="title">
    <h2>New user registration</h2>
</hgroup>
<div class="asc">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

            //User's data inputs 
        <fieldset>
            <legend>Registration Form</legend>
            <ol>
                <li class="container-fix">
                    <label>User name</label>
                    @Html.TextBoxFor(m => m.UserName)
                </li>
                <li  class="container-fix">
                    <label>Password</label>
                    @Html.PasswordFor(m => m.Password)
                </li>
                <li  class="container-fix">
                    <label>Confirm password</label>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ol>
            <input type="submit" value="Registration"/>

                @*Link to login window*@
            @Html.ActionLink("Return", "Login") to login.
        </fieldset>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}