@model Webwarehouse.Model.Entities.Operation

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@if (Model.GoodAttached != null)
{
    using (Ajax.BeginForm("Add", new AjaxOptions { UpdateTargetId = "addOper" }))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Operation</legend>
       
        <div class="editor-label">
           <label>Goods name: @Model.GoodAttached.GoodName</label>
        </div>
        
        <div class="editor-label">
            <label>Количество товара</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <div class="editor-label">
            <label>Тип операции</label>
        </div>
        <div class="editor-field">

            <select name="OperType">
                @foreach (var i in (Enum.GetNames(typeof(Webwarehouse.Model.Entities.OperationType))))
                {
                    <option>@i</option>
                }
            </select>

        </div>

        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
    }
}
@if (TempData["opMessage"] != null)
{
    <script type="text/javascript">
                            alert(@Html.Raw(Json.Encode(TempData["opMessage"])));
    </script>
}